<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bolife.res.mapper.CusOrderMapper">
    <resultMap id="cusOrderMap" type="com.bolife.res.entity.CusOrders">
        <result column="ORDERID" property="orderId"/>
        <result column="ORDERCUSID" property="orderCusId"/>
        <result column="ORDERTIME" property="orderTime"/>
        <result column="ORDERSTATE" property="orderState"/>
        <result column="ORDERTOTLEPRICE" property="orderTotalPrice"/>
        <result column="ORDERNUM" property="orderNum"/>
    </resultMap>
    <select id="getOrderByCus" resultMap="cusOrderMap">
        SELECT * FROM cusorders
        <where>
            <if test="customer.cusId != null">
                CUSID = #{customer.cusId}
            </if>
        </where>
    </select>
</mapper>