<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bolife.res.mapper.CustomerMapper">
    <resultMap id="customerMap" type="com.bolife.res.entity.Customer">
        <result property="cusId" column="CUSID"/>
        <result property="openId" column="OPENID"/>
        <result property="nickName" column="NICKNAME"/>
    </resultMap>

    <select id="findAllCustomer" resultMap="customerMap">
        SELECT * from customer
    </select>

    <select id="getCustomer" resultMap="customerMap">
        SELECT * from customer
        <where>
            <if test="customer.cusId != null">
                CUSID = #{customer.cusId}
            </if>
            <if test="customer.openId != null">
                and OPENID = #{customer.openId}
            </if>
            <if test="customer.nickName != null">
                and NICKNAME LIKE concat('%',#{customer.nickName},'%')
            </if>
        </where>
    </select>
    <insert id="insertCustomer" parameterType="com.bolife.res.entity.Customer">
        INSERT INTO customer(CUSID,OPENID,NICKNAME)
        VALUES (#{customer.cusId},#{customer.openId},#{customer.nickName})
    </insert>
</mapper>