<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bolife.res.mapper.GoodsMapper">
    <resultMap id="gMap" type="com.bolife.res.entity.Goods">
        <result property="gId" column="GID"/>
        <result property="gtId" column="GTID"/>
        <result property="gName" column="GNAME"/>
        <result property="gPrice" column="GPRICE"/>
        <result property="gContent" column="GCONTENT"/>
        <result property="gImg" column="GIMG"/>
        <result property="gTime" column="GTIME"/>
        <result property="gCount" column="GCOUNT"/>
        <result property="gInfo" column="GINFO"/>
    </resultMap>
    <select id="getGoodsByGtId" resultMap="gMap">
        SELECT * from goods WHERE GTID = #{gtId}
    </select>
</mapper>