<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bolife.res.mapper.GoodsTypeMapper">
    <resultMap id="gtMap" type="com.bolife.res.entity.GoodsType">
        <result property="gtId" column="GTID"/>
        <result property="gtName" column="GTNAME"/>
        <result property="gtState" column="GTSTATE"/>
    </resultMap>

    <select id="getAllGoodsType" resultMap="gtMap">
        SELECT * from goodstype
    </select>
</mapper>