<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bolife.res.mapper.OrderDetailMapper">
    <resultMap id="orderDetailMap" type="com.bolife.res.entity.OrderDetail">
        <result property="gId" column="GID"/>
        <result property="orderId" column="ORDERID"/>
        <result property="gName" column="GNAME"/>
        <result property="gCount" column="GCOUNT"/>
        <result property="gPrice" column="GPRICE"/>
        <result property="gTime" column="GTIME"/>
    </resultMap>
    <select id="getOrderDetailByOId" resultMap="orderDetailMap">
      SELECT * from orderdetail WHERE ORDERID = #{orderId}
    </select>
</mapper>