<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bolife.res.mapper.SysCusMapper">
    <resultMap id="customerMap" type="com.bolife.res.entity.SysCus">
        <result property="cusId" column="CUSID"/>
        <result property="limits" column="LIMITS"/>
        <result property="nickName" column="NICKNAME"/>
    </resultMap>
    <select id="selectSysCusById" resultMap="customerMap">
        SELECT * FROM syscus WHERE CUSID = #{cusId}
    </select>
</mapper>